In [ ]:
import pandas as pd

df = pd.read_csv("korean-idol.csv")
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

# copy

In [ ]:
new_df = df

In [ ]:
new_df["이름"] = 0
new_df["이름"]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 이름, dtype: int64

In [ ]:
df["이름"]
# 원본도 같이 바껴버렸어 ㅠ

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 이름, dtype: int64

In [ ]:
print(hex(id(new_df)))
print(hex(id(df)))

0x7f1aff007390
0x7f1aff007390

In [ ]:
df = pd.read_csv("korean-idol.csv")
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
new_df = df.copy()
new_df["이름"] = 0
df.head()

# new_df바꿔도 df 안바뀜!! 원본그대로

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

# 데이터의 추가와 삭제

## row 추가하기
- dict형식의 데이터를 만들어 준 다음 append() 함수를 활용해 데이터를 추가

- 반드시 ***ignore_index = True***  안하면 에러!

In [ ]:
new_data = {
    "이름": "A",
    "그룹": "뉴 그룹",
    "소속사": "돈 많이 주는 소속사",
    "성별": "남자",
    "생년월일": "1988-01-29",
    "키": 180.1,
    "혈액형": "AB",
    "브랜드평판지수": 123456789
}

In [ ]:
df.append(new_data, ignore_index = True)  # 반드시반드시 ignore_index = True로 해줘야!!⭐⭐

# lst append 했을땐 결과 암것도 안나왔는뎅 이건 나왔네?

      이름     그룹          소속사  성별        생년월일      키 혈액형    브랜드평판지수
0     지민  방탄소년단          빅히트  남자  1995-10-13  173.6   A   10523260
1   지드래곤     빅뱅           YG  남자  1988-08-18  177.0   A    9916947
2   강다니엘    NaN          커넥트  남자  1996-12-10  180.0   A    8273745
3      뷔  방탄소년단          빅히트  남자  1995-12-30  178.0  AB    8073501
4     화사    마마무          RBW  여자  1995-07-23  162.1   A    7650928
5     정국  방탄소년단          빅히트  남자  1997-09-01  178.0   A    5208335
6     민현   뉴이스트         플레디스  남자  1995-08-09  182.3   O    4989792
7     소연    아이들           큐브  여자  1998-08-26    NaN   B    4668615
8      진  방탄소년단          빅히트  남자  1992-12-04  179.2   O    4570308
9    하성운     핫샷      스타크루이엔티  남자  1994-03-22  167.1   A    4036489
10    태연   소녀시대           SM  여자  1989-03-09    NaN   A    3918661
11   차은우   아스트로         판타지오  남자  1997-03-30  183.0   B    3506027
12    백호   뉴이스트         플레디스  남자  1995-07-21  175.0  AB    3301654
13    JR   뉴이스트         플레디스  남자  1995-06-08  176.0   O    3274137
14    슈가  방탄소년단          빅히트  남자  1993-03-09  174.0   O    2925442
15     A   뉴 그룹  돈 많이 주는 소속사  남자  1988-01-29  180.1  AB  123456789

In [ ]:
df.tail()

# 원본 바꿔준게아님!! 추가하면 저런 결과가 나올거야 = 복사본생성한거⭐⭐⭐

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

## column 추가

In [ ]:
df["국적"] = "대한민국"  # 브로드캐스팅으로 쭈욱 집어넣은거
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

In [ ]:
import numpy as np

random_number = np.random.randint(1,100, size=(15))
random_number

array([58, 41, 75, 94, 56, 90, 67, 43, 72,  3, 33, 31, 57,  2, 22])

In [ ]:
df["랜덤숫자"] = random_number
df

# 행개수가 맞아야 들어감!!

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적  랜덤숫자
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  대한민국    58
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  대한민국    41
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  대한민국    75
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국    94
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  대한민국    56
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  대한민국    90
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  대한민국    67
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  대한민국    43
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  대한민국    72
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  대한민국     3
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  대한민국    33
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  대한민국    31
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  대한민국    57
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  대한민국     2
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  대한민국    22

In [ ]:
df.shape, random_number.shape

((15, 10), (15,))

In [ ]:
del df["랜덤숫자"]
df

# 삭제할 땐 dict 삭제할때랑 똑같음!

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  대한민국
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  대한민국
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  대한민국
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  대한민국
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  대한민국
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  대한민국
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  대한민국
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  대한민국
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  대한민국
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  대한민국
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  대한민국
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  대한민국