In [ ]:
import pandas as pd

df = pd.read_csv("korean-idol.csv")
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

# 피벗 테이블

1. grouping해서 행의 ***index***정함 (ex 소속사별로 묶겠다.)

2. 집계 대상 구분(***columns***)  키를 여자키 남자키 또나눌수있음.

3. 집계대상값***values*** (키 or 브랜드평판지수)결정 / count빼고 나머지통계는 숫자자료밖에 안됨

In [ ]:
pd.pivot_table(
    df,  # 대상이 되는 데이터 프레임
    index = "소속사",  # 행 인덱스로 사용할 지정
    columns = ["성별"],   # 집계대상을 열기준으로 더 세세히 구분  []리스트안에 여러개가능
    values=["키"]   # values생략하면 키, 브랜드평판지수 다나옴
)

                  키
성별               남자     여자
소속사
RBW             NaN  162.1
YG       177.000000    NaN
빅히트      176.560000    NaN
스타크루이엔티  167.100000    NaN
커넥트      180.000000    NaN
판타지오     183.000000    NaN
플레디스     177.766667    NaN

In [ ]:
# 집계 함수 지정
import numpy as np

pd.pivot_table(
    df,
    index = "그룹",
    columns="혈액형",
    values="브랜드평판지수",
    aggfunc=[np.sum, np.mean]  # 함수 이름이 콜백으로 넘어간다.
)

              sum                                        mean             \
혈액형             A         AB          B          O          A         AB
그룹
뉴이스트          NaN  3301654.0        NaN  8263929.0        NaN  3301654.0
마마무     7650928.0        NaN        NaN        NaN  7650928.0        NaN
방탄소년단  15731595.0  8073501.0        NaN  7495750.0  7865797.5  8073501.0
빅뱅      9916947.0        NaN        NaN        NaN  9916947.0        NaN
소녀시대    3918661.0        NaN        NaN        NaN  3918661.0        NaN
아스트로          NaN        NaN  3506027.0        NaN        NaN        NaN
아이들           NaN        NaN  4668615.0        NaN        NaN        NaN
핫샷      4036489.0        NaN        NaN        NaN  4036489.0        NaN


혈액형            B          O
그룹
뉴이스트         NaN  4131964.5
마마무          NaN        NaN
방탄소년단        NaN  3747875.0
빅뱅           NaN        NaN
소녀시대         NaN        NaN
아스트로   3506027.0        NaN
아이들    4668615.0        NaN
핫샷           NaN        NaN

In [ ]:
# 혈액형별, 그룹마다의 브랜드평판지수 합과 평균을 구하세요

pd.pivot_table(
    df,
    index = "혈액형",
    columns="그룹",
    values="브랜드평판지수",
    aggfunc=[np.sum, np.mean]
)

           sum                                                          \
그룹        뉴이스트        마마무       방탄소년단         빅뱅       소녀시대       아스트로
혈액형
A          NaN  7650928.0  15731595.0  9916947.0  3918661.0        NaN
AB   3301654.0        NaN   8073501.0        NaN        NaN        NaN
B          NaN        NaN         NaN        NaN        NaN  3506027.0
O    8263929.0        NaN   7495750.0        NaN        NaN        NaN

                                mean                                   \
그룹         아이들         핫샷       뉴이스트        마마무      방탄소년단         빅뱅
혈액형
A          NaN  4036489.0        NaN  7650928.0  7865797.5  9916947.0
AB         NaN        NaN  3301654.0        NaN  8073501.0        NaN
B    4668615.0        NaN        NaN        NaN        NaN        NaN
O          NaN        NaN  4131964.5        NaN  3747875.0        NaN


그룹        소녀시대       아스트로        아이들         핫샷
혈액형
A    3918661.0        NaN        NaN  4036489.0
AB         NaN        NaN        NaN        NaN
B          NaN  3506027.0  4668615.0        NaN
O          NaN        NaN        NaN        NaN

# grouping 그루핑⭐⭐⭐⭐⭐⭐
- 데이터를 집계해서 가공하는데 목적
- 데이터를 그룹으로 묶어서 분석할 때 유용

In [ ]:
# 소속사별 집계를 할거다
df.groupby("소속사")

In [ ]:
df.groupby("소속사").count()

# count는 data type에 영향안받고 다나옴.
# 평균, 분산, 표준편차, 중간값이런건 숫자만 집계가능!!

         이름  그룹  성별  생년월일  키  혈액형  브랜드평판지수
소속사
RBW       1   1   1     1  1    1        1
SM        1   1   1     1  0    1        1
YG        1   1   1     1  1    1        1
빅히트       5   5   5     5  5    5        5
스타크루이엔티   1   1   1     1  1    1        1
커넥트       1   0   1     1  1    1        1
큐브        1   1   1     1  0    1        1
판타지오      1   1   1     1  1    1        1
플레디스      3   3   3     3  3    3        3

In [ ]:
df.groupby("소속사").mean()

                  키       브랜드평판지수
소속사
RBW      162.100000  7.650928e+06
SM              NaN  3.918661e+06
YG       177.000000  9.916947e+06
빅히트      176.560000  6.260169e+06
스타크루이엔티  167.100000  4.036489e+06
커넥트      180.000000  8.273745e+06
큐브              NaN  4.668615e+06
판타지오     183.000000  3.506027e+06
플레디스     177.766667  3.855194e+06

In [ ]:
# 혈액형 별 키의 평균
df.groupby("혈액형").mean()["키"]

# 이건 혈액형별표 다만들고 키columns만 가져온거. 필요없는 추가 계산했음

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [ ]:
df.groupby("혈액형")["키"].mean()

# 키만가져다가 평균계산하기!! 성능차이 👍

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [ ]:
# grouping의 기준을 여러 개
df.groupby(["그룹","혈액형"])["키"].std()

# (8,) series말고

그룹     혈액형
뉴이스트   AB          NaN
       O      4.454773
마마무    A           NaN
방탄소년단  A      3.111270
       AB          NaN
       O      3.676955
빅뱅     A           NaN
소녀시대   A           NaN
아스트로   B           NaN
아이들    B           NaN
핫샷     A           NaN
Name: 키, dtype: float64

In [ ]:
df.groupby(["그룹","혈액형"])[["키"]].std()

# (8,1)로 보자! dataframe으로 보자👍⭐
# 키를 fancy indexing 형태로 넣어주기 [[]]

                  키
그룹    혈액형
뉴이스트  AB        NaN
      O    4.454773
마마무   A         NaN
방탄소년단 A    3.111270
      AB        NaN
      O    3.676955
빅뱅    A         NaN
소녀시대  A         NaN
아스트로  B         NaN
아이들   B         NaN
핫샷    A         NaN