In [7]:
import pandas as pd

df = pd.read_csv("korean-idol.csv")
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [8]:
df["브랜드평판지수"]/1000

0     10523.260
1      9916.947
2      8273.745
3      8073.501
4      7650.928
5      5208.335
6      4989.792
7      4668.615
8      4570.308
9      4036.489
10     3918.661
11     3506.027
12     3301.654
13     3274.137
14     2925.442
Name: 브랜드평판지수, dtype: float64

In [10]:
(df["브랜드평판지수"] / 1000 ).astype(int)

0     10523
1      9916
2      8273
3      8073
4      7650
5      5208
6      4989
7      4668
8      4570
9      4036
10     3918
11     3506
12     3301
13     3274
14     2925
Name: 브랜드평판지수, dtype: int64

# apply
series, DataFrame에 구체적인 프로그래밍 로직을 적용하고 싶을 때 활용
- 단순 집계 이상으로 프로그래밍적인 효과
  - 데이터에대한 조건검사
  - 형태소 분리
  - 복잡한 조건에 의한 데이터 편집
  - 기타 등등..
- 데이터에 대한 함수를 만들고 싶을 때 aplly를 활용
- apply는 정의한 로직함수를 인자로 넘긴다.

- 반드시 parameter와 return이 있는 함수만 사용가능

In [12]:
# 브랜드 평판지수를 100만으로 나누고, 정수로 캐스팅하고, 짝수인지 홀수인지 알아보는 함수
def brand_even_odd(brand_score):
  brand_score = brand_score / 1000000
  brand_score = int(brand_score)

  return brand_score % 2 == 0

  # true면 짝수 false면 홀수

In [13]:
df["브랜드평판지수"].apply(brand_even_odd)

0      True
1     False
2      True
3      True
4     False
5     False
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14     True
Name: 브랜드평판지수, dtype: bool

In [15]:
# 키 나누기 2
df["키"].apply(lambda x : x/2)

# 너무간단하니 함수만들지말고 람다활용!

0     86.80
1     88.50
2     90.00
3     89.00
4     81.05
5     89.00
6     91.15
7       NaN
8     89.60
9     83.55
10      NaN
11    91.50
12    87.50
13    88.00
14    87.00
Name: 키, dtype: float64